* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  min-width: 320px;
  background-color: #fff;
  padding-top: 90px;
}

.wrapper {
  max-width: 1336px;
  margin: 0 auto;
}

.s-grey {
  background: #f4f4f6;
  background-repeat: repeat-x;
  height: 960px;
  background-size: cover;
  height: 700px;
  margin-top: 60px;
}

.page-header {
  height: 90px;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo--header {
  width: 200px;
  height: 90px;
  position: relative;
  background-color: #efefef;
  padding: 9px 12px 17px 0;
}

.logo--header::before {
  content: '';
  width: 92px;
  height: 90px;
  display: block;
  position: absolute;
  top: 0;
  left: -92px;
  background-color: #efefef;
}

.logo--header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  border: 45px solid #efefef;
  border-color: transparent transparent transparent #efefef;
}

.logo__img {
  width: 188px;
  height: 64px;
  vertical-align: middle;
  padding: 9px 12px 17px 0;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav-container {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
}

.nav-dropdown {
  padding: 0 8px;
  border-radius: 5px;
  background-color: #f6f7f8;
  width: 260px;
  list-style: none;
}

.nav-dropdown::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f6f7f8;
  border-left: 10px solid transparent;
}

.nav-dropdown__item {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
}

.nav-dropdown__link {
  display: block;
  text-decoration: none;
  padding: 6px;
  color: #2a3253;
  font-size: 17px;
  border-bottom: 1px solid #e1e3e7;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.nav-dropdown__link:hover {
  background-color: #efefef;
}

.nav__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:hover .nav-container {
  visibility: visible;
  opacity: 1;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333438;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  height: 100%;
  padding: 0 10px;
}

.nav__link:hover {
  background-color: #efefef;
}

.nav__link:hover:before {
  width: 100%;
}

.nav__link:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 5px;
  width: 0;
  background: #272f50;
  -webkit-transition: width .15s ease-in-out;
  transition: width .15s ease-in-out;
}

.callback__button {
  background: #36c262;
  color: #fff;
  border-radius: 4px;
  display: block;
  width: 187.46px;
  padding: 14px 0;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.main-info {
  background: url(../images/main.jpg) no-repeat center center;
  background-size: cover;
  height: 755px;
  text-align: center;
  color: white;
  position: relative;
}

.main-info:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(19, 23, 38, 0.8);
}

.main-info .wrapper {
  position: relative;
}

.main-info__svg {
  width: 220px;
  height: 285px;
  margin-top: 200px;
}

.main-info__title {
  margin-top: 48px;
  font-size: 60px;
}

.main-info__text {
  margin-top: 10px;
  font-size: 20px;
}

.main-scroller {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-scroller__text {
  color: #fff;
  font-size: 15px;
}

.main-scroller__icon {
  margin-top: 10px;
  position: relative;
  width: 20px;
  height: 30px;
}

.main-scroller__icon::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.main-scroller__icon::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 9px;
  width: 2px;
  height: 5px;
  background: #fff;
  -webkit-animation: moveIcon .8s linear infinite;
  animation: moveIcon .8s linear infinite;
}

@-webkit-keyframes moveIcon {
  0% {
    top: 16px;
  }
  100% {
    top: 8px;
  }
}

@keyframes moveIcon {
  0% {
    top: 16px;
  }
  100% {
    top: 8px;
  }
}

.offers-h1 {
  font-size: 65px;
  text-align: center;
  margin-top: 60px;
  color: #272f50;
}

.subtext {
  height: 200px;
  display: block;
  text-align: center;
  font-size: 23px;
  margin-top: 20px;
}

.card-desk {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container {
  width: 422.288px;
  height: 380.5px;
  text-align: left;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  /*     border: 2px solid red;*/
  border-radius: 5px;
  margin: 10px 10px;
  font-size: 18px;
  color: #272f50;
  padding: 30px;
}

.card-container:hover {
  background-color: #272f50;
  color: white;
  opacity: 1;
}

.card-container__img {
  width: 61px;
  height: 61px;
  margin: 10px;
  fill: #36c262;
}

.card-container__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: .75rem;
  margin-left: 10px;
}

.card-container__text {
  font-size: 20px;
  margin: 10px;
}

.s-reasons__main-title {
  text-align: center;
  font-size: 50px;
  color: #272f50;
  margin-top: 50px;
}

.s-reasons__text {
  font-size: 20px;
  color: #272f50;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.s-reasons__item {
  padding: 0 15px;
}

.s-reasons__container {
  border: 1px solid #f4f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 25px;
}

.s-reasons__image img {
  display: block;
  height: 90px;
  margin: 0 auto 30px;
}

.s-reasons__title {
  font-size: 20px;
  text-align: center;
  color: #272f50;
}

.s-reasons__slider {
  margin: 0 -15px;
}

.portfolio__title {
  font-size: 50px;
  color: #272f50;
  text-align: center;
  padding-top: 40px;
}

.portfolio-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__public {
  font-size: 15px;
  color: #333333;
  text-transform: uppercase;
}

.order__title {
  font-size: 40px;
  color: #272f50;
  margin: 16px 0 12px;
}

.order__text {
  font-size: 20px;
  color: #333438;
  margin: 16px 0 0;
}

.order-controls__button {
  background: #36c262;
  color: #fff;
  border-radius: 4px;
  display: block;
  width: 144.13px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 18px;
  padding-top: 16px;
}

.expertise-main {
  background-image: url(../images/experting.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-left {
  color: #fff;
}

.col-left .expertise {
  font-size: 50px;
  font-weight: 300;
  margin-top: 50px;
}

.col-left .expertise__text {
  font-size: 20px;
  margin-top: 15px;
}

.col-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  padding: 40px;
}

.col-right div {
  text-align: center;
  padding: 50px;
  font-size: 20px;
  background-color: #272f50;
  border-radius: 5px;
}

.col-right svg {
  fill: #36c262;
  width: 61px;
  height: 57px;
}

.col-right__card1 {
  width: 190px;
}

.col-right__card2 {
  width: 190px;
}

.col-right__card3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
  width: 410px;
}

.col-right__card4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.col-right__card5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 3 / 4;
  width: 600px;
}

.col-right p {
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.slick-prev:before,
.slick-next:before {
  color: #272f50;
  font-size: 40px;
}

.partners .partners-title {
  text-align: center;
  font-size: 50px;
  color: #272f50;
  margin-top: 40px;
}

.partners p {
  font-size: 20px;
  color: #272f50;
  text-align: center;
  margin-top: 5px;
}

.partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding: 50px 25px;
}

.partners-container__card {
  margin: 20px;
  width: 312px;
  height: 280px;
  text-align: center;
  border: 1px solid #f4f4f6;
}

.partners-container__card h5 {
  color: #272f50;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.partners-container__card div {
  color: #272f50;
  font-size: 20px;
  margin-top: 10px;
}

.partners-container__card .cta {
  width: 135px;
}

.partners-container img {
  width: 90px;
  margin-top: 40px;
}

.cta {
  width: 135px;
  height: 90px;
}

.industries-title {
  text-align: center;
  font-size: 50px;
  color: #272f50;
  padding-top: 40px;
}

.industries-text {
  font-size: 20px;
  color: #272f50;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.industries__desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.industries__desk .industries-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-width: 20%;
  width: 20%;
  height: 280px;
  -webkit-filter: grayscale(1.1);
          filter: grayscale(1.1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
}

.industries__desk .industries-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 47, 80, 0.5);
  z-index: 1;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.industries__desk .industries-item:hover {
  -webkit-filter: none;
          filter: none;
}

.industries__desk a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  z-index: 2;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.testimonials {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
  line-height: 1.2;
  color: #272f50;
}

.review-container {
  width: 890px;
  height: 200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
  position: relative;
  opacity: 1;
  background: #fff;
}

.review-container .review-item__quote {
  position: relative;
  top: -12px;
  left: 730px;
  fill: #29304f;
}

.review-container svg {
  width: 48px;
  height: 33px;
}

.review-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 50px;
}

.review-container .review-item__text {
  position: relative;
}

.review-container p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: #2e3137;
  position: relative;
  top: 100px;
  left: 100px;
}

.review-container .review-item__title {
  position: relative;
  color: #272f50;
}

.partners__title {
  font-size: 50px;
  color: #272f50;
  text-align: center;
  padding-top: 45px;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  text-align: center;
}

.partners__container .p-card__1 {
  width: 162.15px;
  height: 90px;
}

.partners__container .p-card__2 {
  width: 171.42px;
  height: 90px;
}

.partners__container .p-card__3 {
  width: 200px;
  height: 46px;
}

.partners__card {
  width: 342px;
}
/*# sourceMappingURL=styles.css.map */